[submodule "simmc2"]
	path = simmc2
	url = https://github.com/holylovenia/simmc2.git
[submodule "detr"]
	path = detr
	url = https://github.com/holylovenia/detr.git
[submodule "mdetr"]
	path = mdetr
	url = https://github.com/holylovenia/mdetr.git
